.inner
  width page-width
  margin 0 auto
  @media screen and (max-width: 1260px)
    width 100%


#more-wrapper
    padding-top: 140px
    padding-bottom: 15px
    .fa
        font-size: 44px
        color: white


.block-container-gray
    background-color: #f0f0f0

.content-wrapper
    padding-top: 40px
    padding-bottom: 45px
    text-align: center

    .content-title
        margin-top: 10px

    .content-text
        font-size: 16px
        max-width: 700px
        margin: auto
        margin-bottom: 10px

    .content-learn-more
        a
            border-radius: 0