<%
var title = 'Blogs';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
    if (page.year) title = page.year + (page.month ? '/' + page.month : '');
    else title = 'Blogs';
  //title = "Archives"
}
%>

<h1 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>">
    <% if (page.tag){ %> 
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
  <% } %>
  <% if (page.category){ %> 
    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
    <% } %>
  <%= title %>
</h1>
<hr />
<% if (pagination == 2){ %>
  <% page.posts.each(function(item){ %>
    <%- partial('article', {item: item, index: true}) %>
  <% }); %>

  <%- partial('pagination') %>
<% } else { %>
  <div class="archive">
    <% page.posts.sort('title', 'desc').each(function(item){ %>
      <%- partial('article', {item: item, index: true}) %>
    <% }); %>
  </div>
<% } %>