<ul class="social list-inline">
    <li>
    <a href="https://www.facebook.com/profile.php?id=100003043347203&fref=nf&pnref=story" target="_blank">
        <span class="icon-wrapper fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    </li>
    <li>
    <a href="https://www.linkedin.com/in/junkai-yang-51468b73" target="_blank">
        <span class="icon-wrapper fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    </li>

    <li>
    <a href="https://github.com/cyfloel0516" target="_blank">
        <span class="icon-wrapper fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    </li>

    <li>
    <a href="mailto:cyfloel0516@gmail.com" target="_blank">
        <span class="icon-wrapper fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    </li>
</ul>