@import '_base/variable'
@import '_base/layout'


@import '_partial/header'
@import '_partial/social'
@import '_partial/work'
@import '_partial/footer'
@import '_partial/about'

@import '_partial/article'