.meta-item
    &.meta-date
        padding-right: 8px
        

    &.meta-category
        border-left: 1px solid gray
        padding-left: 10px
        padding-right: 8px
    
    &.meta-tag
        border-left: 1px solid gray
        padding-left: 10px

.archive-title  
    .glyphicon
        font-size: 28px

.highlight
    //background: #eee;
    //padding: 10px 15px;
    //color: #4d4d4c;
    overflow: auto;
    //margin: 0
    pre
        padding: initial !important
        margin: initial !important
        font-size: initial !important
        line-height: initial !important
        color: inherit !important
        word-break: initial !important
        background-color: initial !important
        border: none !important
        border-radius: 0 !important

article
    p
        margin: 0 0 16px !important

    max-width: 800px
    font-size: 15px

    img
        max-width: 800px
    margin-bottom: 30px
    header
        margin-bottom: 15px

    h1.title
        margin-bottom: 0 !important
        a
            //color: #4d4d4d !important
            &:hover
                //color #337ab7 !important
                text-decoration: none !important
 
    .more-link
        display: inline-block
        font-size: 16px
        background-color: #e8e8e8
        padding: 10px 20px
        text-decoration: none
        color: #505050
        margin-top: 6px

        &:hover
            color: #FFF
            text-decoration: none
            background-color: #337ab7