#header
    background: url(../images/background.png) no-repeat center center fixed
    background-size: cover

    .navbar-brand
        color: white
        font-size: 26px
        margin-right: 10px

    #contact-info-wrapper
        padding-top: 180px
        text-align: center
    
    #my-name
        color: white
        font-size: 60px
        margin-bottom: 14px
  
#top-nav
    background: none
    border: none
    li.active a 
        background-color: transparent