.search
    .search-input-wrapper
        width: 100%
    margin-bottom: 15px
#search-input
    border-radius: 0
    padding: 2px 6px
    width: 100%




.categories
    border-radius:0

    .category-list
        list-style: none
        padding: 0

        .category
            margin-bottom: 3px
            a 
            .badge
                margin-left: 5px
                font-size: 11px
                vertical-align: top

.tags
    .panel-body
        padding: 15px 5px
    .tag
        border: none
        padding: 4px
        color: white
        background: #337ab7
        border-radius: 4px
        margin-right: 4px
        margin-bottom: 4px
        display: inline-block
        .glyphicon-tag
            font-size: 12px
            padding: 0 4px
         