.work
  max-width 900px
  margin auto !important
  padding 10px
  border 1px solid #EEE
  border-radius 4px
  border-left 4px solid #337AB7
  margin-bottom 20px

.work-wrapper
    margin-bottom: 10px
.work-image-wrapper, .work-content-wrapper
  display inline-block
  text-align left
  // width 50%
  vertical-align top

.work-title
  font-size 18px
  margin-bottom 4px
  font-size 18px

.work-content-wrapper
  ul
    padding-left 30px

.work-image
  width 100%

.seemore
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  cursor pointer

.work-image-wrapper
  &:hover
    .work-image
      -webkit-filter brightness(80%)
    .seemore
      display inline-block

.year-wrapper h4{
	color:#286090;
	border-bottom: 1px solid #EEE;
}

#detail-header

.detail-screenshot
  margin 0 auto 35px auto
  max-width 1080px
  width 100%
  img
    width 100%
    margin auto

#detail-more
  margin auto
  text-align center
  margin-top 10px
  .visit
    display inline-block
    color black
    padding 14px 30px
    border 2px solid black
    font-size 14px
    margin-right 20px
    &:hover
      cursor pointer
      text-decoration none
      background-color #223752
      color white
      border-color #223752

