<% if (site.categories.length){ %>
<div class="panel panel-default widget categories">
  <div class="panel-heading">Categories</div>
  <div class="panel-body">
    <ul class="category-list">
    <% site.categories.sort('name').each(function(item){ %>
      <li class="category">
        <a href="<%- config.root %><%- item.path %>">
          
          <%= item.name %><span class="badge"><%= item.posts.length %></span>
        </a>
      </li>
    <% }); %>
    </ul>
  </div>
</div>
<% } %>