<% if (site.tags.length){ %>

<div class="panel panel-default widget tags">
  <div class="panel-heading">Tags</div>
  <div class="panel-body">
    <div class="tag-list">

      <% site.tags.sort('name').each(function(item){ %>
        <a class="tag" href="<%- config.root %><%- item.path %>">
          <span class="glyphicon glyphicon-tag" aria-hidden="true"></span><%= item.name %>
        </a>
      <% }); %>
    </div>
  </div>
</div>
<% } %>